/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));

  @include mat.card-overrides((
    outlined-container-color: var(--mat-sys-secondary),
  ));
}

body {
  margin: 0;
  height: 100%;
}
mat-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem 1rem 1rem;
}